<div class="nav">
  <a href="#">Home</a>
  <a href="/frontend/views/products.ejs">Products</a>
  <a href="#">Orders</a>
  <a href="#">Profile</a>
  <a href="#">Settings</a>
  <a href="#">Administration</a>
  <a href="#">Test Menu</a>
</div>